/**
 * Papa's Pizzeria
 * Nom de l'étudiant : Colin Dube
 * Date : 3 Février

   Instructions complètes ici: https://tim-montmorency.com/compendium/582-211-web2/exercices/cours3-menu-resto/index.html
 */

/* ========================================
   RÉINITIALISATION DE BASE
   ======================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: rgba(197, 63, 63, 0.827);
    background-color: #ceab4c86;
}

/* ========================================
   VOTRE CODE CSS ICI
   ======================================== */
main {
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(247, 239, 228, 0.9);
    padding: 35px;
    border: 3px solid #000000;
    box-shadow:#000000 10px 10px;
    border-radius: 3px;
}

h1 {
    text-shadow: #000000 3px 3px 0px;
    font-size: 5rem;
    color: rgba(197, 63, 63, 0.827);
    text-align: center;
    margin-bottom: 30px;
}

h2 {

    font-size: 3rem;
    color: #000000;
    border-bottom: 2px solid rgba(197, 63, 63, 0.827);
    margin: 40px 0 20px 0;
    padding-bottom: 5px;
}

article {
    margin-bottom: 25px;
    padding: 10px;
    border-bottom: 2px solid #4e4d4d;

}

article:hover {
    background-color: rgba(253, 0, 0, 0.1);
    cursor: default;
}

.Entrées,
.Plats,
.Desserts {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.plat {

    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: rgba(197, 63, 63, 0.827);
    letter-spacing: 1px;
}

.prix {

    color: #63615d;
    font-size: 1.2rem;
}

.description {

    font-size: 1.3rem;
    color: #000000;
    margin-top: 8px;
    max-width: 90%;
}

.badge {
    background-color: rgba(197, 63, 63, 0.827);
    color: #fff;
    font-family: sans-serif;
    font-size: 0.70rem;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-left: 10px;
    vertical-align: middle;
}